<!DOCTYPE html>
<html>
<header>
    <title>about</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</header>

<body>
    <div class="main-content">
        {{>header}}

        <p>This site was created by Itay Tur. It uses data from mapbox.com and darksky.net!</p>
    </div>

    {{>footer}}
</body>

</html>