<!DOCTYPE html>
<html>
<header>
    <title>help</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</header>

<body>
    <div class="main-content">
        {{>header}}
    </div>
    {{>footer}}
</body>

</html>